<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:weightSum="100"
        android:padding="10dp">
        <TextView
            android:text="Medium Text"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/taskName"
            android:layout_weight="90"
            android:gravity="center_vertical"
            android:maxWidth="20dp" />
        <CheckBox
            android:text="Done"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/taskCheckBox"
            android:layout_weight="10"
            android:focusable="false" />
    </LinearLayout>
</LinearLayout>